:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

#container {
	display: grid;
	grid-template-rows: repeat(var(--grid-rows) 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	border: 3px solid #808588;
	width: fit-content;
	margin: auto;
	max-width: 350px;
	width: 350px;
	height: 350px;
	max-height: 350px;
	overflow: hidden;
}

#main-area {
	display: flex;
}

#rainbow {
	height: fit-content;
	float: left;
	margin: auto;

}

#supportingDiv {
	display: flex;
	align-items: center;
	gap: 80px;
}

.footer {
	height: 30px;
}

a {
	text-decoration: none;
	color: #b18597;
}

#colorInput {
	display: flex;
	flex-direction: column;
}